// =========================
// CYA modifier to move edit links below question/answer on small screens
// prevents text overflow with longer edit link copy
// =========================
.govuk-check-your-answers .cya-change {
    text-align: left;
    position: static;
    padding-bottom: .47368em;
  }
  @media (min-width: 769px) {
    .govuk-check-your-answers .cya-change {
      text-align: right;
    }
  }