// =========================
// Currency input
// =========================
.hmrc-currency-input__wrapper {
    position: relative;
  }
  .hmrc-currency-input__unit {
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-weight: bold;
    top: 2px;
    width: 20px;
    width: 3rem;
    text-align: center;
    background: #f3f2f1;
    border-right: 2px solid;
    font-size: 19px;
  }
  .hmrc-currency-input__unit:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .hmrc-currency-input__wrapper .govuk-input {
    padding-left: 30px;
    padding-left: 4rem;
    outline-offset: 0;
    margin: 0;
  }

  // WCAG 2.1 focus update
  // duplicating as non-supporting browsers choke on focus-within and throw the whole rule
  .hmrc-currency-input__wrapper--has-focus .hmrc-currency-input__unit {
    top: 4px;
    left: 4px;
    bottom: 4px;
  }
  .hmrc-currency-input__wrapper:focus-within .hmrc-currency-input__unit {
    top: 4px;
    left: 4px;
    bottom: 4px;
  }