@import controllers.routes._
@import models.Mode

@this(
    main_template: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"${errorPrefix(form)} ${messages("ironSteelOccupation.title")}"
    ) {

    @formHelper(action = IronSteelOccupationController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("ironSteelOccupation.heading")

        @components.input_yes_no(
            field = form("value"),
            label = messages("ironSteelOccupation.heading"),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
